* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    padding: 12px 50px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    color: #8f8e8e;
    background-color: #F7F9FB;
}

.contacts, .connect {
    display: flex;
    gap: 10px;
}

address a, section a {
    text-decoration: none;
    color: #989898;
    font-style: normal;
}

address a:hover, section a:hover {
    color: #555555;
}