* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    padding: 12px 70px;
    display: flex;
    justify-content: space-between;
    background-color: #F7F9FB;
}

.contacts, .connect {
    font-size: 12px;
    font-weight: 500;
    color: #989898;
    display: flex;
    align-items: center;
    gap: 10px;
}

address a, .connect a {
    text-decoration: none;
    color: #989898;
    font-style: normal;
}

address a:hover, .connect a:hover {
    color: #555555;
}

.menu-bar {
    padding: 12px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F9FB;
    height: 80px;
}

.menu-bar .wrapper {
    display: flex;
    gap: 50px;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

.menu-bar .wrapper nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 13px;
    font-weight: 600;
}

.menu-bar .wrapper nav ul li:hover {
    color: #4F6DF5;
    cursor: pointer;
}

.menu-bar button {
    height: 40px;
    width: 120px;
}

.button_blue {
    border: 2px solid #4F6DF5;
    border-radius: 5px;
    background-color: #fff;
    color: #4F6DF5;
    font-weight: 600;
}

.button_blue:hover {
    background-color: #4F6DF5;
    color: #FFF;
}